.titre {
    color: white;
    font-size: 60px;
    text-align:center;
}

body {
    color:graytext;
    background-color:grey;
    background-image:url("PNG/FOND_ECRAN.jpg");
    background-size: auto;
    align-content: center;
}

.global {
    position: relative;
}

.inscription {
    width: 500px;
    left: 30%;
    position:relative;
    background-color:white;
    opacity: 0.7;
    padding:20px;
    text-align: center;

}

.connexion {
    width: auto;
    position:absolute;
    top:86px;
    left:1080px;
    background-color:white;
    opacity: 0.7;
    padding:20px;
    text-align: center;
}

.pied {
    body {
        position: relative;
        bottom: 0px;
        color: graytext;
    }
}
