.titre {
    color: graytext;
    font-size: 60px;
    
}

body {
    color:graytext;
    background-color:white;
    background-image:url("PNG/FOND_ECRAN.jpg");
    background-size: auto;
    align-content: center;
}

.global {
    position: relative;
    
}

.inscription {
    width: auto;
    position:relative;
    
    
    
}

.connexion {
    position: relative;
    width: auto;
    position:absolute;
    top:50px;
    left:400px;
    
}

.pied {
    body {
        position: relative;
        bottom: 0px;
        color: graytext;
    }
}
